top:
  inept:
    datasource:
      ddl-auto: validate
      url: ${SPRING_DATASOURCE_URL}
      username: ${SPRING_DATASOURCE_USERNAME}
      password: ${SPRING_DATASOURCE_PASSWORD}
    server:
      port: 8080

spring:
  jpa:
    hibernate:
      ddl-auto: update